.container {
  position: relative;
  width: 50%;
}

.container:after {
  display: block;
  padding-bottom: 100%;
}

.calculatorBody {
  position: absolute;
  height: 100%;
  width: 100%;
}

.calcScreen {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  width: 100%;
}

.numberBtn {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  background-color: lightseagreen;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}

.operatorBtn {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  background-color: lightseagreen;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}

.numberBtn:hover {
  border-color: orange;
}
.operatorBtn:hover {
  border-color: orange;
}
