.calculatorBody{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    height: 50%;
    width: 50%;
    
}

.calculatorButtons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.calcScreen{
    background-color: lightgray;
    border: 1px solid black;
    height: 50px;
    width: 100%;
}