.container{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
    
}

.calculatorButtons{
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
}

.calcScreen{
    background-color: lightgray;
    border: 1px solid black;
    height: 50px;
    width: 100%;
}

.calculatorButtons{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: 1px solid black;
    
}

.calcBtn{
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px;
}